:root {
    --vp-copy-code-button: #2c2c2c;
    --vp-copy-code-button-hover: #2c2c2c;
    --code-title-back: #2c2c2c;
    --language-max-width: '745px'
}
/*代码块样式*/
.vp-copy-code-button {
    background-color: var(--vp-copy-code-button);
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
.vp-copy-code-button:hover {
    background-color: var(--vp-copy-code-button-hover);
}
.vp-copy-code-button::before {
    color: white;
}
div[class*="language-"] {
    margin-bottom: 20px;
    max-width: var(--language-max-width);
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}
.line-numbers {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.line-number {
    margin-top: 6.4px;
}
.code-block-title {
    background-color: var(--code-title-back) !important;
    border-radius: 5px !important;
}
.code-block-title-bar {
    margin: 0 !important;
    padding: 0 35px !important;
}
.code-block-title-bar .title {
    font-weight: bold !important;
}
code {
    font-size: 15px !important;
}
/* 根据theme_change变量切换Shiki主题 */
.shiki,
.shiki span {
    background-color: var(--shiki-light-bg) !important;
    color: var(--shiki-light) !important;
    font-style: var(--shiki-light-font-style) !important;
    font-weight: var(--shiki-light-font-weight) !important;
    text-decoration: var(--shiki-light-text-decoration) !important;
    font-family: 'CustomFont', 'Microsoft YaHei', sans-serif;
}
.shiki::-webkit-scrollbar {
    background-color: transparent;
    height: 5px;
}
/* 暗色模式 */
[data-theme='dark'] .shiki,
[data-theme='dark'] .shiki span {
    background-color: var(--shiki-dark-bg) !important;
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
    font-family: 'CustomFont', 'Microsoft YaHei', sans-serif;
}