/*全局颜色切换*/
.dark-color {
    background-color: v-bind(themes.dark.back_color);
    color: v-bind(themes.dark.color);
    fill: v-bind(themes.dark.color);
    transition:  background-color 0.3s ease, color 0.3s ease, fill 0.3s ease;
}
.light-color {
    background-color: v-bind(themes.light.back_color);
    color: v-bind(themes.light.color);
    fill: v-bind(themes.light.color);
    transition:  background-color 0.3s ease, color 0.3s ease, fill 0.3s ease;
}
/*图标hover*/
.dark-themes-color:hover .icon path {
    fill: v-bind(themes.dark.theme_color) !important;
}
.dark-themes-color .icon:hover path {
    fill: v-bind(themes.dark.theme_color) !important;
}
.dark-themes-color:hover {
    fill: v-bind(themes.dark.theme_color) !important;
}
.light-themes-color:hover .icon path {
    fill: v-bind(themes.light.theme_color) !important;
}
.light-themes-color .icon:hover path {
    fill: v-bind(themes.light.theme_color)!important;
}
.light-themes-color:hover {
    fill: v-bind(themes.light.theme_color)!important;
}
/*文字hover*/
.dark-hover-color:hover {
    color: v-bind(themes.dark.hover_color)!important;
}
.light-themes-color:hover {
    color: v-bind(themes.light.hover_color)!important;
}